<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABEKÜS | Önizleme </title>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9196896671820953",
        enable_page_level_ads: true
        });
        </script>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
</head>
<body class="bg-dark">
    <nav class="container-fluid" style="background-color:#563d7c;color:white;">
       
        <div class="row" style="padding:10px 0;">

                <div class="col-md-4 ml-top-auto"><!-- style="position:absolute;top: 50%;transform: translateY(-50%);" -->
                         <a href="/" class="text-light" style="text-decoration: none;">
                        <span class="">
                                 <b style="letter-spacing:3px;font-size:20px;">ABEKÜS</b> 
                                 |
                                 <small>dört islem</small>
                        </span> 
                        </a>
                </div>

        </div>
    </nav>
    

    <div class="container-fluid" id="cache-page">
          <div class="row bg-dark">
            <div class="col text-center text-light py-3">
                 SON OYUNLAR
            </div>
         </div>
          <div class="row ">
            <div class="col-md-12">
                              <table class="table table-hover text-light">
                                      <thead class="thead-dark text-center">
                                      <tr>
                                         <th scope="col">#</th>
                                              <th scope="col">Tarih</th>
                                              <th scope="col">Egzersiz</th>
                                              <th scope="col">İşlem Türü</th>
                                              <th scope="col">Derecelendirme</th>
                                              <th scope="col">Zincirleme</th>
                                              <th scope="col">Oyun Hızı</th>
                                              <th scope="col">Doğru</th>
                                              <th scope="col">Yanlış</th>
                                              <th scope="col">Scor</th>
                                              <th scope="col">Başarı</th>
                                              
                                      </tr>
                                      </thead>
                                      <tbody class="text-center" id="tbody">
                                          
                                                      <%- json.data %>
                                      </tbody>
                              </table>
                      </div>
            </div>
      
    </div>
  





    <script src="../public/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script type="application/javascript" src="../public/js/bootstrap.min.js"></script>
</body>
</html>